* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000005;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(0,180,216,0.3);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,180,216,0.6);
}